<h1>Games#new</h1>
<p>Find me in app/views/games/new.html.erb</p>

<div class="container">
  <div class="row">
    <h1 class="col-1">A</h1>
    <h1 class="col-1">A</h1>
    <h1 class="col-1">A</h1>
    <h1 class="col-1">A</h1>
    <h1 class="col-1">A</h1>
    <h1 class="col-1">A</h1>
    <h1 class="col-1">A</h1>
    <h1 class="col-1">A</h1>
    <h1 class="col-1">A</h1>
    <h1 class="col-1">A</h1>
  </div>



  <form action="/new" method="post">
    <input type="text" name="word" placeholder="Create your word!">
    <input type="submit" value="LONG">
  </form>
</div>
