<h1>Games#new</h1>
<p>Find me in app/views/games/new.html.erb</p>

<div class="container">
  <div class="row">
    <% @random_letter.each do |letter| %>
      <h1 class="col-1"><%= letter %></h1>
     <% end %>
  </div>



  <form action="/new" method="post">
    <input type="text" name="word" placeholder="Create your word!">
    <input type="submit" value="LONG">
  </form>
</div>
