/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  height: 100%;
  width: 100%;
}

h1 {
  padding: 10px 20px;
  text-align: center;
  color: rgb(10, 6, 53);
}

.container>h1 {
  margin: 30px 0;
}


.col-1 {
  background-color: rgb(10, 6, 53);
  color: aliceblue;
  margin: 30px 0px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

form, label, input {
  padding: 10px 10px;
  margin: 10px 10px;
}

.btn.btn-primary.btn-lg {
  background-color: rgb(75, 88, 192);
  border-color: rgb(75, 88, 192);
  margin: 10px 25%;
  width: 50%;
}

p {
  text-align: center;
}
